#gameStatus {
	color: white;
    height:544px;
    width:120px;
}

#game {
	height: 544px;
    width: 896px;
}

.titles {
	font-size: 14px;
	margin: 0px;
	padding-top: 3px;
	padding-left: 5px;
}
.gameInfo {
	font-size: 13px;
	margin: 0;
	padding-left: 5px;
}

.gameBtn {
	color: brown;
}

.towerBtn {
	color: brown;
	width: 100px;
	height: 45px;
}

.tower {
	height: 25px;
	width: 25px;
}

.towerName {
	margin: 0;
}

#infoText {
	font-size: 14px;
	margin: 0;
	padding-left: 5px;
}

#errorText {
	color: red;
}

.selected {
	background: yellow;
}