<!DOCTYPE  html>
<html>
<head>
	<!--jQeury library-->
	<script src="../jQuery/jquery-2.1.4.min.js"></script>
	<script src="../jQuery/jquery-ui.min.js"></script>

	
	<title>Welcome</title>

	<!--User Scripts-->
	<script type="text/javascript" src="FirstPage.js"></script>
	<link rel="stylesheet" type="text/css" href="FirstPage.css"></link>

</head>
<body background="../images/FirstPage/FirstPage-background.jpg">
	<div>
		<img src="../images/FirstPage/lightHouse.png" id="lighthouse">
		<img src="../images/FirstPage/credit.png"  id="credit">
	</div>
	<div>
		<img src="../images/FirstPage/2ndTower.png" id="secTower">
	</div>
	<div>
		<img src="../images/FirstPage/knight.png" id="knight">
		<img src="../images/FirstPage/enter.png" id="enter">
	</div>

</body>
	<link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.min.css"></link>
	<link rel="stylesheet" href="../bootstrap/bootstrap-theme.min.css"></link>
	<script src="../bootstrap/bootstrap.min.js"></script>
</html>
