<!DOCTYPE  html>
<html>
<head>
	<!--jQeury library-->
	<script src="../jQuery/jquery-2.1.4.min.js"></script>
	<script src="../jQuery/jquery-ui.min.js"></script>


	<title>Welcome</title>

	<!--User Scripts-->
	<script type="text/javascript" src="FirstPage.js"></script>
	<link rel="stylesheet" type="text/css" href="FirstPage.css"></link>

</head>
<body background="../images/FirstPage/FirstPage-background.jpg">
	<!-- the div for light house -->
	<div>
		<img src="../images/FirstPage/lightHouse.png" id="lighthouse">
		<img src="../images/FirstPage/credit.png"  id="credit">
	</div>
	<!-- the div for second tower -->
	<div>
		<a href="albumPage.html">
			<img src="../images/FirstPage/2ndTower.png" id="secTower">
		</a>
		<img src="../images/FirstPage/photoBook.png" id="photoBook">
		<!-- the following script is to hide and show photo book -->
		<script type="text/javascript">
			$(document).ready(function(){
				$('#photoBook').hide();
				$('#secTower').hover(function(){
					$('#photoBook').show();
				},
				function(){
					$('#photoBook').hide();
				});
			});
		</script>
	</div>
	<!-- the div for the knight -->
	<div>
		<a href="gamePage.html"><img src="../images/FirstPage/knight.png" id="knight"></a>
		<img src="../images/FirstPage/enter.png" id="enter">
	</div>

</body>
	<!-- bootstrap file-->
	<link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.min.css"></link>
	<link rel="stylesheet" href="../bootstrap/bootstrap-theme.min.css"></link>
	<script src="../bootstrap/bootstrap.min.js"></script>
</html>
