<!DOCTYPE  <html>
<head>
	<!--jQeury library-->
	<script src="../jQuery/jquery-2.1.4.min.js"></script>
	<script src="../jQuery/jquery-ui.min.js"></script>

	
	<title>Welcome</title>

	<!--User Scripts-->
	<script type="text/javascript" src="FirstPage.js"></script>
	<link rel="stylesheet" type="text/css" href="FirstPage.css">

</head>
<body background="../images/FirstPage-background.jpg">
	<div>
		<img src="../images/lightHouse.png"  class="col-lg-1 col-lg-offset-6" id="img">
	</div>

</body>
	<link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.min.css"></link>
	<link rel="stylesheet" href="../bootstrap/bootstrap-theme.min.css"></link>
	<script src="../bootstrap/bootstrap.min.js"></script>
</html>
