<!DOCTYPE html>
<html>
<head>
	<!--jQeury library-->
	<script src="../jQuery/jquery-2.1.4.min.js"></script>
	<script src="../jQuery/jquery-ui.min.js"></script>

	<title>Game Page</title>

	<!--User Scripts-->
	<script type="text/javascript" src="gamePage.js"></script>
	<link rel="stylesheet" type="text/css" href="gamePage.css"></link>


</head>
<body background="../images/gamePage/background.jpg">


	<!-- top nav bar-->
		<nav class="navbar navbar-inverse navbar-fixed-top" >
	  		<div class="container">
	  			<ul class="nav nav-pills col-lg-offset-4">
				  <li role="presentation" ><a href="firstPage.html">Home</a></li>
				  <li role="presentation"><a href="#">Record</a></li>
				  <li role="presentation"><a href="#">Restart</a></li>
				  <li role="presentation"><a href="#">Feedback</a></li>
				  <li role="presentation"><a href="#">Q&A</a></li>
				  <li role="presentation"><a href="signIn.html">Sign In</a></li>
				</ul>
	  		</div>
		</nav>



	<!--Left hand floating nav bar-->
	<div id="leftHandBar" class="col-lg-2">
		<!--this will be the profile pic-->
		<div id="profilePic">
			<img src="#">
		</div>

		<!--this will be the name of the user-->
		<div id="userName">
			<p>name</p>
		</div>

		<!-- Single button 1 -->
		<div class="btn-group col-lg-12" id="b1">
			<button type="button" class="btn col-lg-12 ">
		    	Kingdom
		  	</button>
	  	</div>

	  	<!-- Single button 2-->
		<div class="btn-group col-lg-12" id="b2">
		  <button type="button" class="btn   col-lg-12" >
		    Rules
		  </button>
		</div>

		<!-- Single button 3-->
		<div class="btn-group col-lg-12" id="b3">
		  <button type="button" class="btn   col-lg-12" >
		    Tower Type
		  </button>
		</div>

		<!-- Single button 4-->
		<div class="btn-group col-lg-12" id="b4">
		  <button type="button" class="btn   col-lg-12" >
		    Allies
		  </button>
		</div>

		<!-- Single button 5-->
		<div class="btn-group col-lg-12" id="b5">
		  <button type="button" class="btn  col-lg-12" >
		    Shop
		  </button>
		</div>

	</div>


	<!--center preview windown-->
	<div class="col-lg-8 col-lg-offset-3" id="c-centerSpace">
		<!-- this is for the first tab, kingdom.  -->
		<div class="col-lg-12" id="c-kingdom">
			<!-- user profile pic -->
			<div>
				<img src="#" id="c-kingdom-profilePicture" class="col-lg-2">
			</div>
			<!-- profile name -->
			<div>
				<h3 class="col-lg-offset-3" id="c-kingdom-name">name</h3>
			</div>
			<!-- the form to set status  -->
			<div class="col-lg-offset-2 col-lg-10" id="c-kingdom-status">
				<form class="form col-lg-12" >
				  <div class="form col-lg-11 ">
				    <input type="text" class="form-control" id="c-kingdom-status-input" placeholder="Set your status for your friends to see!!" name="inputText">
				  </div>
				  <button type="submit" class="btn btn-default" id="c-kingdom-status-button">Set</button> 
				</form>
				<p id="c-kingdom-status-display"></p>
			</div>

			<!-- the following is close button -->
			<div>
				<button><img src="../images/gamePage/closeButton.png"  id="c-kingdom-closeButton"></button>
			</div>

			<!-- shows hp and armour value -->
			<div class="col-lg-11" id="c-kingdom-LiveArmour">
				<h1>Maximum Live: <a href="#">5</a> </h1>
				<h1>Armour: <a href="#">1</a></h1>
				<h1>Equipment:</h1>
			</div>

			<!-- show equipment obtained -->
			<div class= "col-lg-11" id="c-kingdom-equipment">
				<!-- first item -->
				<div class="col-lg-2" id="c-kingdom-equipment-item" >
					<img id="c-kingdome-equipment-item1" src="../images/gamePage/armour_leg.png">
					<p id="c-kingdome-equipment-item-p1">Live bonus: 2<br> Armour bonus: 3</p>
					<script type="text/javascript" >
						$('#c-kingdome-equipment-item1').ready(function(){
							$('#c-kingdome-equipment-item-p1').hide();
							$('#c-kingdome-equipment-item1').hover(function(){
								$('#c-kingdome-equipment-item-p1').show();
							},
							function(){
								$('#c-kingdome-equipment-item-p1').hide();
							});
						});
					</script>
				</div>


				<!-- second item -->
				<div id="c-kingdom-equipment-item" class="col-lg-2" >
					<img id="c-kingdome-equipment-item2" src="../images/gamePage/armour_head.png">
					<p id="c-kingdome-equipment-item-p2">Live bonus: 2<br> Armour bonus: 3</p>
					<script type="text/javascript">
						$('#c-kingdome-equipment-item2').ready(function(){
							$('#c-kingdome-equipment-item-p2').hide();
							$('#c-kingdome-equipment-item2').hover(function(){
								$('#c-kingdome-equipment-item-p2').show();
							},
							function(){
								$('#c-kingdome-equipment-item-p2').hide();
							});
						});
					</script>
				</div>		
			</div>
		</div>

	</div>


</body>
	<!-- bootstrap file-->
	<link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.min.css"></link>
	<link rel="stylesheet" href="../bootstrap/bootstrap-theme.min.css"></link>
	<script src="../bootstrap/bootstrap.min.js"></script>
</html>