<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>Tower Defence</title>
	<link rel="stylesheet" type="text/css" href="content/style.css">
</head>
<body>
	<!-- loading message -->
<!-- 	<div id='wait'>
		<div id="wait-message">
			Loading.......
		</div>
	</div> -->

	<!-- game frame -->
	<div id="frame" class="hidden">
		<div id="info">
			<div id="money-info" title="Money left"></div>
			<div id="health-info" title="Health left"></div>
			<div id="time-info">Game started ...</div>
			<div id="sound-info" class="on" title="Sound status"></div>
		</div>
		<div id="nextwave"></div>
		<canvas id="game" width=1216 height=608>
			<p><b>Your brower does not support the canvas element.</b></p>
			<p>please update your browser!</p>
		</canvas>

		<div id="towers"></div>
			<div id="buttons">
			<button id="startWave">Start Wave (#<span>1</span>)</button>
			<button id="buyMedipack">Castel Repair($<span>0</span>)</button>
		</div>


	</div>
</body>
	<script src="Scripts/oop.js"></script>
	<script src="Scripts/manifest.js"></script>
	<script src="Scripts/utilities.js"></script>
	<script src="Scripts/path.js"></script>
	<script src="Scripts/resources.js"></script>
	<script src="Scripts/video.js"></script>
	<script src="Scripts/sound.js"></script>
	<script src="Scripts/main.js"></script>
	<script src="Scripts/logic.js"></script>
	<script src="Scripts/units.js"></script>
	<script src="Scripts/shots.js"></script>
	<script src="Scripts/towers.js"></script>
	<script src="Scripts/app.js"></script>
</html>