<!DOCTYPE html>
<html>
<head>
	<!--jQeury library-->
	<script src="../jQuery/jquery-2.1.4.min.js"></script>
	<script src="../jQuery/jquery-ui.min.js"></script>

	<title>test</title>

	<!--User Scripts-->
	<script type="text/javascript" src="gamePage.js"></script>
	<link rel="stylesheet" type="text/css" href="gamePage.css"></link>

</head>

<body>
	<div style="
	position: absolute;
	height:608px;
	width: 1216px;
	background-color: red;
	top: 0%">
	</div>

</body>

	<!-- bootstrap file-->
	<link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.min.css"></link>
	<link rel="stylesheet" href="../bootstrap/bootstrap-theme.min.css"></link>
	<script src="../bootstrap/bootstrap.min.js"></script>

</html>