<!DOCTYPE  <html>
<html>
<head>
	<!--jQeury library-->
	<script src="../jQuery/jquery-2.1.4.min.js"></script>
	<script src="../jQuery/jquery-ui.min.js"></script>

	<title>test</title>

	<link rel="stylesheet" type="text/css" href="testpage.css">
	<link rel="stylesheet" type="text/css" href="testpage2.css">
	<script type="text/javascript" src="testpage.js"></script>


</head>

<body>
	<div id="left_blcok">
		<div>
			<p id="text">left block</p>
		</div>
	</div>

	<div id="right_block">
		<div>
			<p id="text">rigth blcok</p>
		</div>
	</div>

</body>
	<!-- bootstrap file-->
	<link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.min.css"></link>
	<link rel="stylesheet" href="../bootstrap/bootstrap-theme.min.css"></link>
	<script src="../bootstrap/bootstrap.min.js"></script>

</html>