<!DOCTYPE  <html>
<html>
<head>
	<!--jQeury library-->
	<script src="../jQuery/jquery-2.1.4.min.js"></script>
	<script src="../jQuery/jquery-ui.min.js"></script>

	<title>test</title>

	<link rel="stylesheet" type="text/css" href="testpage.css">
	<script type="text/javascript" src="testpage.js"></script>


</head>

<body>
	<script type="text/javascript">
		var item_database = [
			['Mystical Staff','../images/gamePage/armour_weapon1.png','Live Bonus: 10 <br> Armour Bonus: 1 <br> Attack Bonus: 1.2%'],
			['Holy Spear','../images/gamePage/armour_weapon2.png','Live Bonus: 4 <br> Armour Bonus: 4 <br> Attack Bonus: 1.0%'],
		]

		for( i in item_database){
			$(document).ready(function(){
				$('#item_display').html(
					'<div>
						<h4 class="c-shop-item_display-name">Mystical Staff</h4>
						<img src="../images/gamePage/armour_weapon1.png" class="c-shop-item_display-image">
						<div class="c-shop-item_display-description">
							<p> Live Bonus: 10 <br> Armour Bonus: 1 <br> Attack Bonus: 1.2%</p>
						</div>
					</div>
					<hr>'
				);
			});
		}

	</script>

	<div id="item_display">

	</div>

</body>
	<!-- bootstrap file-->
	<link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.min.css"></link>
	<link rel="stylesheet" href="../bootstrap/bootstrap-theme.min.css"></link>
	<script src="../bootstrap/bootstrap.min.js"></script>

</html>